*.swp
.netrwhist

# Vim plugin directories (managed by vim-plug)
home/.vim/plugged/
home/.vim/autoload/plug.vim

# Oh-My-Zsh (managed by git submodule)
home/.oh-my-zsh/

# Vim runtime
home/.vim/undo/

# Installation backups
.dotfiles-backup-*/
