# Editor
*.swp
*.swo
.netrwhist

# Neovim lazy.nvim data (not tracked)
nvim/.config/nvim/.lazy/

# Old home/ directory artifacts
home/.vim/plugged/
home/.vim/autoload/plug.vim
home/.vim/undo/
home/.oh-my-zsh/

# Installation backups
.dotfiles-backup-*/
